:root {
  --dark-mode-elements: hls(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --light-mode-elements: #fff;
  --light-mode-bg: hls(0, 0%, 98%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.theme-switch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-switch p {
  margin-left: 10px;
  font-size: 16px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  aligh-items: center;
}

.app {
  background-color: var(--light-mode-bg);
}

.app-body {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
}

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
}

.search-input input {
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

.select-region {
  width: 300px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 5px;
}

.select-region select {
  padding: 5px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
